<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdkashif.universalarm">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".misc.ui.CrashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/commonTheme"/>

        <activity
            android:name=".base.BaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".misc.ui.ContainerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/commonTheme" />
        <activity
            android:name=".misc.ui.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/settingsTheme" />
        <activity
            android:name=".misc.ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/commonTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".misc.ui.AppIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/commonTheme" />
        <activity
            android:name=".misc.ui.AntiTheftUnlockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/commonTheme" />
        <activity
            android:name=".misc.ui.WebviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/commonTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_map_api_key" />
        <service android:name=".alarm.misc.services.AlarmSoundService" />
        <service android:name=".alarm.misc.services.MiscIntentService" />
        <service
            android:name=".alarm.prayer.job.PrayerDataFetchScheduleService"
            android:label="Prayer Data Fetch Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".alarm.battery.job.BatteryScheduleService"
            android:label="Battery Info change Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".alarm.misc.services.GeofenceTransitionsIntentService" />

        <service android:name=".alarm.battery.misc.BatteryLiveData$BatteryTimeStats" />
    </application>

</manifest>